.support-section{
  text-align: center;
  padding:64px 0 98px;
  &__header{
    h3{
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      letter-spacing: 0.02em;
      color: #EB801D;
    }
    h2{
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      letter-spacing: 0.02em;
      color: #1C1C1E;
      margin-top:30px;
    }
    p{
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      letter-spacing: 0.02em;
      color: #1C1C1E;
      margin-top:27px;
    }
  }
  &__input{
    width: 524.8px;
    height: 89.84px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(54, 58, 120, 0.1);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 97px auto 0;
    &_email{
      position: relative;
      display:flex;
      input{
      font-family: 'Nunito Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      letter-spacing: 0.02em;
      color: #9092B0;
      border:none;
      outline: none;
      vertical-align: middle;
      width: 100%;
      margin-left: 10px;
      }
    }
    &_submit{
      display:flex;
      align-items: center;
      justify-content: center;
      width: 161.48px;
      height: 44.92px;
      border-radius: 20px;
      font-style: normal;
      input{
        font-weight: 700;
        font-size: 16px;
        margin:0 11px;
        &:hover{
          cursor: pointer;
        }
      }
      svg{
        margin-bottom: 5px;
      }
      color: #FFFFFF;
      background-color: #686DF1;
    }
  }
}

@media only screen and (max-width: 560px) {
  .support-section{
    &__input{
      width: 380px;
      height: 60px;
      &_email{
        position: relative;
        input{
        font-size: 16px;
        background-size: 20px;
        padding-left: 25px;
        }
      }
      &_submit{
        justify-content: space-around;
        input{
        width: 101.48px;
        height: 40px;
        background-size: 16px;
        font-size:12px;
        margin:0;
        }
      }
    }
  }
  
}
