@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Rubik:wght@400;500&family=Ubuntu:wght@400;500;700&display=swap');

* {
	padding: 0px;
	margin: 0px;
	border: none;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

a{
	color: inherit;
	text-decoration: none;
}

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

.button{
  padding:16px 8px;
  background: #003CFF;
  color: #fff;
  border:none;
  border-radius: 16px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.02em;
  font-feature-settings: 'salt' on, 'liga' off;
  &:hover{
    background-color: #7796C0;
    cursor: pointer;
  }
}

@media only screen and (max-width: 430px) {
  .button{
    font-size: 12px;
  }
}

html, body {
  font-family:'Ubuntu', sans-serif;
}
main, header{
  background-color: #F5F4FF;
}

.wrapper{
  max-width:1300px;
  margin:0 auto;
}
